@import "./reset.scss";
@import "./variables.scss";
@import "./desktop.scss";
@import "./mobile.scss";

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
}

.box {
  display: flex;
  box-sizing: border-box;
  margin: $base-margin;
  padding: $base-padding;
}
