@import "./reset.scss";
@import "./variables.scss";
@import "./desktop.scss";
@import "./mobile.scss";

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
}

strong, b {
  font-weight: bold;
}

.box {
  display: flex;
  margin: $base-margin;
  padding: $base-padding;
}

button, a.btn {
  display: inline-block;
  text-decoration: none;
  border-radius: $radius;
  border: 1px solid $grey-color;
  background: $grey-color;
  font-size: $large-font-size;
  padding: 8px 16px;
  color: $white-color;
  cursor: pointer;

  &.primary {
    background: $primary-color;
    border-color: $primary-color;
  }
}

.main-header {
  font-size: $heading-font-size;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: $base-padding;
  font-weight: 500;
  margin: $base-margin 0;
}

.main-content {
  padding: $base-padding;
}

.wrapper {
  padding: $base-padding;
}

.alert {
  display: inline-block;
  padding: $base-padding;
  border-radius: $radius;

  &.info {
    background: $info-background-color;
  }
}

input, select {
  border: 1px solid $grey-color;
  padding: $base-padding;
  box-sizing: border-box;
  border-radius: $radius;
  width: 100%;
}
