@import "./reset.scss";
@import "./variables.scss";
@import "./desktop.scss";
@import "./mobile.scss";

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
}

strong, b {
  font-weight: bold;
}

.box {
  display: flex;
  margin: $base-margin;
  padding: $base-padding;
}

button, a.btn {
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid $grey-color;
  background: $grey-color;
  font-size: 14px;
  padding: 8px 16px;
  color: $white-color;
  cursor: pointer;

  &.primary {
    background: $primary-color;
    border-color: $primary-color;
  }
}
