$desktop-width: 992px;
$mobile-width: $desktop-width - 1;

$base-margin: 10px;
$base-padding: 10px;

$desktop-font-size: 14px;
$mobile-font-size: 13px;

$large-font-size: 14px;
$super-large-font-size: 16px;

$heading-font-size: 20px;

$radius: 4px;

$primary-color: #26A69A;
$light-color: #E0F2F1;
$info-background-color: #81D4FA;
$info-color: #039BE5;
$grey-color: #BDBDBD;
$white-color: #FFF;

@mixin respond-to($media) {
  @if $media == desktop {
    @media only screen and (min-width: $desktop-width) { @content; }
  }
  @else {
     @media only screen and (max-width: $mobile-width){ @content; }
  }
}
